Curso: Python Zero<br>
DNC Group<br>
iniciado em 29/03/2022<br>
by geanclm

> Anotações diversas

In [ ]:
print (f'{"-"*33:^33}')
print (f'{"Olá Mundo!":^33}') #função imprimir
print (f'{"-"*33:^33}')

---------------------------------
           Olá Mundo!
---------------------------------

In [ ]:
print('Casa', 10, 'grande', True)

Casa 10 grande True

# Operadores Aritméticos

In [15]:
print(7 + 2)
print(7 - 2)
print(7 * 2)
print(7 / 2)
print(7 ** 2)
print(7 // 2)
print(7 % 2)

9
5
14
3.5
49
3
1

In [4]:
print ('Olá' + ' Mundo')

Olá Mundo

In [6]:
print ('Olá '*5)

Olá Olá Olá Olá Olá

In [14]:
print ('-'*21)
print (f'{"texto":^21}')
print ('-'*21)

---------------------
        texto
---------------------

In [ ]:
# https://docs.python.org/pt-br/3/reference/expressions.html#operator-summary
# Ordem de precedência:
# ()
# **
# * / // %
# + -

In [8]:
float(True)

1.0

In [9]:
float(False)

0.0

In [20]:
a = 245
b = 2.835895
print(f'{a/b:.2f}')

86.39

In [ ]:
# Anotações by geanclm
# start in 29/03/2022 at 18:55h

# - - -

# Como fazer mais com menos?
# Como fazer muito mais com muito menos?

# [Teste de variável]
# .isnumeric()
# .isalpha()
# .isalnum()

# Condicionais

In [1]:
if True:
    print('É True')
else:
    print('É False')

É True

<center style="font-size:18pt; background-color:#c9d976">
    <br/>
        <b style="color: #033409">Repetições em Python</b>
    <br/>&nbsp;
</center>

In [4]:
for i in range (0,10,1):
    print (i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [5]:
for i in range (0,10,2):
    print (i, end=' ')

0 2 4 6 8

In [8]:
soma = 0
for i in range(1,10,2):
    soma += i
    print (f'Para i = {i} a soma é {soma}')

Para i = 1 a soma é 1
Para i = 3 a soma é 4
Para i = 5 a soma é 9
Para i = 7 a soma é 16
Para i = 9 a soma é 25

In [12]:
soma = 0
for i in range(0,4):
    n = int(input(f'Digite o {i+1}º número: '))
    soma += n
    print (f'para n = {n} a soma parcial é {soma}')
print (f'A soma final é: {soma}')

Digite o 1º número: 1
para n = 1 a soma é 1
Digite o 2º número: 2
para n = 2 a soma é 3
Digite o 3º número: 3
para n = 3 a soma é 6
Digite o 4º número: 4
para n = 4 a soma é 10
A soma final é: 10

In [18]:
c = 0
while c < 20:
    print (c, end=' ')
    c += 1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

<center style="font-size:18pt; background-color:#c9d976">
    <br/>
        <b style="color: #033409">Tuplas</b>
    <br/>&nbsp;
</center>

In [1]:
tupla1 = ('lanche','batata','refrigerante')
tupla2 = (2, 6, 4, 5, 7, 2, 4, 4)
tupla3 = (True, False, True)
tupla4 = ('lanche', 10.9, False)

In [22]:
tupla1 + tupla2

('lanche', 'batata', 'refrigerante', 2, 6, 4, 5, 7, 2, 4, 4)

In [18]:
tupla2.index(4,6)

6

In [16]:
tupla2.count(2)

2

In [15]:
set(tupla2)

{2, 4, 5, 6, 7}

In [8]:
tupla1[0]

'lanche'

In [21]:
for i,v in enumerate(tupla1):
    print(f'{i} {v}')

0 lanche
1 batata
2 refrigerante

In [4]:
print(len(tupla1))

3

In [5]:
tupla2.count(4)

3

In [6]:
tupla2.index(4)

2

<center style="font-size:18pt; background-color:#c9d976">
    <br/>
        <b style="color: #033409">Listas</b>
    <br/>&nbsp;
</center>

In [1]:
lista = ['lanche','batata','refrigerante']

In [8]:
len(lista)

3

In [9]:
lista.index('lanche')

0

In [96]:
for i in range(0,len(lista),1):
    print (i, end=' ')

0 1 2

In [7]:
for i,v in enumerate(lista):
    print (i,v)

0 lanche
1 batata
2 refrigerante

In [2]:
l1 = [0,1,3,4,5,7]

In [3]:
l3 = l1*3

In [6]:
print (l1+l3)

[0, 1, 3, 4, 5, 7, 0, 1, 3, 4, 5, 7, 0, 1, 3, 4, 5, 7, 0, 1, 3, 4, 5, 7]

In [99]:
l1[2] = 3

In [100]:
l1[0:2] = [0,1]

In [102]:
l1.append(7)

In [110]:
l1

[1, 3, 4, 5, 7]

In [112]:
l1.insert(1,99)

In [113]:
l1

[1, 99, 99, 3, 4, 5, 7]

In [106]:
del l1[0]

In [107]:
l1.pop()

7

In [108]:
l1.remove(7)

In [109]:
l1

[1, 3, 4, 5, 7]

In [51]:
# apenas visualiza a ordenação da lista sem gravar a modificação
sorted(l1, reverse=True)

[5, 4, 3, 1, 0]

In [48]:
# o método aplica a mudança na lista e grava a alteração
l1.sort(reverse=True)

In [53]:
l1

[0, 2, 6, 4, 8, 1, 3]

In [54]:
l2 = l1
l2.pop()

3

In [55]:
l2, l1

([0, 2, 6, 4, 8, 1], [0, 2, 6, 4, 8, 1])

In [56]:
l2 = l1[:]

In [57]:
l2.pop()

1

In [58]:
l2,l1

([0, 2, 6, 4, 8], [0, 2, 6, 4, 8, 1])

In [74]:
l1 = [0,2,6,4,8,1,3]
l2 = [3,2,1,7,8,2,5]
# l2 = [3,2,1,7,8]
l3 = []

In [73]:
for i,v in enumerate(l1):
    l3.append(l1[i] + l2[i])
print(l3)

[3, 4, 7, 11, 16, 3, 8]

In [91]:
l1 = [0,2,6,4,8,1,3]
l2 = [3,2,1,7,8]
l3 = []

In [92]:
for i1,i2 in zip(l1,l2):
    l3.append(i1+i2)
    print (f'{i1} + {i2} = {l3}')
print ('-'*13)
print(l3)

0 + 3 = [3]
2 + 2 = [3, 4]
6 + 1 = [3, 4, 7]
4 + 7 = [3, 4, 7, 11]
8 + 8 = [3, 4, 7, 11, 16]
-------------
[3, 4, 7, 11, 16]

In [11]:
l1

[7, 5, 4, 3, 1, 0]

In [10]:
l1.reverse()

<center style="font-size:18pt; background-color:#c9d976">
    <br/>
        <b style="color: #033409">Listas compostas</b>
    <br/>&nbsp;
</center>

In [1]:
lanche = ['lanche', 10.90]
batata = ['batata',5.50]
refri = ['refri',3.90]
menu = [lanche,batata,refri]

In [6]:
print(type(menu))

<class 'list'>

In [5]:
menu[0][0], menu[2]

('lanche', ['refri', 3.9])

In [9]:
batata

[]

In [8]:
batata.clear()

In [10]:
var = 'teste'

In [17]:
var

'teste'

In [16]:
clear(var)